@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
}

@theme {
  --font-bodoni: "Bodoni Moda", sans-serif;
  --font-montserrat: "Montserrat", serif;
  --font-garamond: "EB Garamond", serif;

  --gray-light: #E8E8E8;
  --green-light: #69BE5C;
  --green-dark: #478957;
  --orange-dark: #D35E29;
  --teal-dark: #25544A;

}

.my-custom-class {
  background-color: var(--gray-light);
}
