@import 'tailwindcss';

html, body {
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes expand-width {
    0% {
      width: 0%;
      opacity: 0%;
    }
    100% {
      width: 100%;
      opacity: 100%;
    }
  }
  .animate-expand-width {
    animation: expand-width 1s ease-in-out infinite alternate;
  }
}