@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

@theme {
  --font-bodoni: "Bodoni Moda", sans-serif;
  --font-montserrat: "Montserrat", serif;
  --font-garamond: "EB Garamond", serif;
  --color-rast-cream: #E0E3CC;
  --color-rast-light: #60EE3F;

  --color-rast-mid: #40AB26;
  --color-rast-dark: #38661E;

}

html,
body {
  scroll-behavior: smooth;
}
